#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	mkdir -p compiler/build
	cd compiler/build && cmake .. \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr

include /usr/share/dpkg/buildopts.mk

override_dh_auto_build:
	cd compiler/build && make $(addprefix -j,$(DEB_BUILD_OPTION_PARALLEL))

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	cd compiler/build && ctest --output-on-failure
endif

override_dh_auto_install:
	# Install binaries
	install -D -m 0755 compiler/build/lwangac $(CURDIR)/debian/lwanga/usr/bin/lwangac
	install -D -m 0755 compiler/build/formatter/lwangafmt $(CURDIR)/debian/lwanga/usr/bin/lwangafmt
	install -D -m 0755 compiler/build/highlighter/lwangacat $(CURDIR)/debian/lwanga/usr/bin/lwangacat
	# Install documentation
	install -D -m 0644 README.md $(CURDIR)/debian/lwanga/usr/share/doc/lwanga/README.md
	install -D -m 0644 docs/language-reference.md $(CURDIR)/debian/lwanga/usr/share/doc/lwanga/language-reference.md
	# Install examples
	mkdir -p $(CURDIR)/debian/lwanga/usr/share/lwanga/examples
	cp examples/*.lwanga $(CURDIR)/debian/lwanga/usr/share/lwanga/examples/ || true
	# Install file icons
	for size in 16 32 64 128 256; do \
		install -D -m 0644 assets/icons/lwanga-file-$$size.png \
			$(CURDIR)/debian/lwanga/usr/share/icons/hicolor/$${size}x$${size}/mimetypes/text-x-lwanga.png; \
	done
	# Install MIME type
	install -D -m 0644 packaging/lwanga.xml $(CURDIR)/debian/lwanga/usr/share/mime/packages/lwanga.xml

override_dh_auto_clean:
	rm -rf compiler/build
